<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="LSDBEntities" connectionString="metadata=res://*/LSModel.csdl|res://*/LSModel.ssdl|res://*/LSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LSDB;persist security info=True;user id=lsuser;password=SA@rh#524LQS;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="LSDBEntities" connectionString="metadata=res://*/LSModel.csdl|res://*/LSModel.ssdl|res://*/LSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=79.137.24.248,8573;initial catalog=merp_ir_;persist security info=True;user id=MerpUser;password=PremresU#1@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="LSDBEntities" connectionString="metadata=res://*/LSModel.csdl|res://*/LSModel.ssdl|res://*/LSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LSDB;persist security info=True;user id=lsuser;password=SA@rh#524LQS;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>490-
</configuration>